
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404错误</title>
</head>
<body>
    <div> 
        404错误,打不到页面
    </div>
</body>
</html>
