
@{
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<style type="text/css">
    .main-sidebar {
        top: 0;
        left: 0;
        height: 100%;
        min-height: 100%;
        width: 230px;
        background-color: #222d32;
    }
    .sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #222d32;
    }

        .sidebar-menu > li {
            position: relative;
            margin: 0;
            padding: 0;
        }

            .sidebar-menu > li > a {
                padding: 12px 5px 12px 15px;
                display: block;
                border-left: 3px solid transparent;
                color: #b8c7ce;
            }

                .sidebar-menu > li > a > .fa {
                    width: 20px;
                }

            .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
                color: #fff;
                background: #1e282c;
                border-left-color: #3c8dbc;
            }

            .sidebar-menu > li > .treeview-menu {
                margin: 0 1px;
                background: #2c3b41;
            }

            .sidebar-menu > li .label,
            .sidebar-menu > li .badge {
                margin-top: 3px;
                margin-right: 5px;
            }

        .sidebar-menu li.header {
            padding: 10px 25px 10px 15px;
            font-size: 12px;
            color: #4b646f;
            background: #1a2226;
        }

        .sidebar-menu li > a > .fa-angle-left {
            width: auto;
            height: auto;
            padding: 0;
            margin-right: 10px;
            margin-top: 3px;
        }

        .sidebar-menu li.active > a > .fa-angle-left {
            transform: rotate(-90deg);
        }

        .sidebar-menu li.active > .treeview-menu {
            display: block;
        }

        .sidebar-menu a {
            color: #b8c7ce;
            text-decoration: none;
        }

        .sidebar-menu .treeview-menu {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            padding-left: 5px;
        }

            .sidebar-menu .treeview-menu .treeview-menu {
                padding-left: 20px;
            }

            .sidebar-menu .treeview-menu > li {
                margin: 0;
            }

                .sidebar-menu .treeview-menu > li > a {
                    padding: 5px 5px 5px 15px;
                    display: block;
                    font-size: 14px;
                    color: #8aa4af;
                }

                    .sidebar-menu .treeview-menu > li > a > .fa {
                        width: 20px;
                    }

                    .sidebar-menu .treeview-menu > li > a > .fa-angle-left,
                    .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
                        width: auto;
                    }

                    .sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
                        color: #fff;
                    }
                    .sidebar-menu > li > a, span {
                        color:ghostwhite;
                    }
</style>
<div class="container">
    <div style="margin-top:37px; float:left; width:180px">
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li><a href="/question/technologydocument"><i class="fa fa-circle-o text-yellow"></i> <span>基本翻译</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>语音技术</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu" style="display: none;">
                            <li><a href="/Document/VoinceToVoince"><i class="fa fa-circle-o"></i> 语音翻译成语音</a></li>
                            <li><a href="/Document/TxtToVoince"><i class="fa fa-circle-o"></i> 文字翻译成语音</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
    </div>
        @RenderBody()
</div>

<script>
    $.sidebarMenu = function(menu) {
  var animationSpeed = 300;

  $(menu).on('click', 'li a', function(e) {
    var $this = $(this);
    var checkElement = $this.next();

    if (checkElement.is('.treeview-menu') && checkElement.is(':visible')) {
      checkElement.slideUp(animationSpeed, function() {
        checkElement.removeClass('menu-open');
      });
      checkElement.parent("li").removeClass("active");
    }
    //If the menu is not visible
    else if ((checkElement.is('.treeview-menu')) && (!checkElement.is(':visible'))) {
      //Get the parent menu
      var parent = $this.parents('ul').first();
      //Close all open menus within the parent
      var ul = parent.find('ul:visible').slideUp(animationSpeed);
      //Remove the menu-open class from the parent
      ul.removeClass('menu-open');
      //Get the parent li
      var parent_li = $this.parent("li");

      //Open the target menu and add the menu-open class
      checkElement.slideDown(animationSpeed, function() {
        //Add the class active to the parent li
        checkElement.addClass('menu-open');
        parent.find('li.active').removeClass('active');
        parent_li.addClass('active');
      });
    }
    //if this isn't a link, prevent the page from being redirected
    if (checkElement.is('.treeview-menu')) {
      e.preventDefault();
    }
  });
}
</script>
<script>
$.sidebarMenu($('.sidebar-menu'))
</script>

    
