body {
    background: #e5eaf0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

header.header-nav {
    height: 70px;
    background-color: #2F3447;
    color: #fff;
    border-bottom: 1px solid hsla(0,0%,100%,.05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
}

    header.header-nav .top-nav {
        height: 100%;
        display: inline-block;
        float: left;
        padding: 20px 0 0 100px;
    }

        header.header-nav .top-nav > ul {
            display: block;
        }

            header.header-nav .top-nav > ul > li {
                display: inline-block;
                float: left;
                line-height: 50px;
                padding: 0 4px;
                margin: 0 16px;
                position: relative;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                height: 50px;
            }

                header.header-nav .top-nav > ul > li:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 100%;
                    display: inline-block;
                    height: 3px;
                    background-color: #fff;
                    bottom: 0;
                    -webkit-transition: right .3s ease 0s;
                    -moz-transition: right .3s ease 0s;
                    transition: right .3s ease 0s;
                }

                header.header-nav .top-nav > ul > li > a {
                    cursor: pointer;
                    display: inline-block;
                    color: #fff;
                    font-size: 18px;
                    font-family: 微软雅黑;
                }

                    header.header-nav .top-nav > ul > li > a:hover {
                        color: #fff;
                    }

                header.header-nav .top-nav > ul > li .sub-top-nav {
                    position: absolute;
                    top: 50px;
                    left: 0px;
                    background-color: #14191e;
                    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.4);
                    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.4);
                    box-shadow: 0 2px 6px rgba(0,0,0,.4);
                    padding: 20px 0px;
                    width: 100%;
                    -webkit-transform-origin: center top;
                    -moz-transform-origin: center top;
                    -ms-transform-origin: center top;
                    transform-origin: center top;
                    -webkit-transform: scaleY(0);
                    -moz-transform: scaleY(0);
                    -ms-transform: scaleY(0);
                    transform: scaleY(0);
                    -webkit-transition: -webkit-transform .4s ease-in-out 0s;
                    transition: -webkit-transform .4s ease-in-out 0s;
                    -moz-transition: transform .4s ease-in-out 0s,-moz-transform .4s ease-in-out 0s;
                    transition: transform .4s ease-in-out 0s;
                    transition: transform .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s,-moz-transform .4s ease-in-out 0s;
                }

                    header.header-nav .top-nav > ul > li .sub-top-nav > li {
                        line-height: normal;
                        padding: 0;
                        text-align: center;
                    }

                        header.header-nav .top-nav > ul > li .sub-top-nav > li + li {
                            margin-top: 10px;
                        }

                        header.header-nav .top-nav > ul > li .sub-top-nav > li > a {
                            white-space: nowrap;
                            display: inline-block;
                            line-height: 30px;
                            color: #fff;
                            width: 100%;
                            padding: 0px;
                            margin: 0px;
                        }

                            header.header-nav .top-nav > ul > li .sub-top-nav > li > a:hover {
                                color: #fff;
                                background-color: #0073eb;
                            }

                header.header-nav .top-nav > ul > li:hover:before {
                    right: 0;
                }

                header.header-nav .top-nav > ul > li:hover > .sub-top-nav {
                    -webkit-transform: scaleY(1);
                    -moz-transform: scaleY(1);
                    -ms-transform: scaleY(1);
                    transform: scaleY(1);
                }

    header.header-nav .login {
        height: 100%;
        display: inline-block;
        padding-top: 10px;
        float: right;
    }

        header.header-nav .login > ul {
            display: block;
        }

            header.header-nav .login > ul > li {
                display: inline-block;
                float: left;
                margin-left: 20px;
                line-height: 50px;
                position: relative;
            }

                header.header-nav .login > ul > li .sub-top-nav {
                    display: none;
                    position: absolute;
                    top: 50px;
                    left: 0;
                    background-color: #14191e;
                    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.4);
                    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.4);
                    box-shadow: 0 2px 6px rgba(0,0,0,.4);
                    padding: 0 10px;
                    min-width: 0;
                    z-index: 99;
                }

                    header.header-nav .login > ul > li .sub-top-nav > li {
                        line-height: normal;
                        padding: 0 10px;
                    }

                        header.header-nav .login > ul > li .sub-top-nav > li + li {
                            margin-top: 10px;
                        }

                        header.header-nav .login > ul > li .sub-top-nav > li > a {
                            white-space: nowrap;
                            display: inline-block;
                            line-height: 30px;
                            padding: 0 20px;
                            margin: 0 -20px;
                        }

                            header.header-nav .login > ul > li .sub-top-nav > li > a:hover {
                                color: #fff;
                                background-color: #0073eb;
                            }

                header.header-nav .login > ul > li:hover .sub-top-nav, header.header-nav .login > ul > li > a {
                    display: inline-block;
                }

                    header.header-nav .login > ul > li > a.free-demo, header.header-nav .login > ul > li > a.internal-link {
                        height: 28px;
                        line-height: 28px;
                        margin-top: 10px;
                        padding: 0 15px;
                        width: auto;
                        font-size: 12px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                    }

                    header.header-nav .login > ul > li > a.console {
                        height: 28px;
                        line-height: 28px;
                        margin-top: 10px;
                        padding: 0 15px;
                        color: #fff;
                        width: auto;
                        border: 1px solid #fff;
                        font-size: 12px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                    }

                    header.header-nav .login > ul > li > a.text {
                        height: 28px;
                        color: #fff;
                    }

                    header.header-nav .login > ul > li > a.console:hover {
                        border-color: #0073eb;
                        background-color: #0073eb;
                        color: #fff;
                    }

/*.container {
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}*/

.container {
    display: block;
    width: 1045px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    position: relative;
}

.wrapper {
    width: 1024px;
    margin: 0px auto;
}

span, a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
}

h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}

a.disabled {
    color: #ccc;
}


.full-width {
    width: 100% !important;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}

.m-b {
    margin-bottom: 15px;
}

.block {
    display: block;
}

.page-heading {
    padding: 0px 20px 20px 20px;
}

.breadcrumb {
    margin-bottom: 0px;
    padding: 0px;
    background: none;
}

.iconfont {
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

.icon-txt-link {
}

    .icon-txt-link:hover, .icon-txt-link:hover i, .icon-txt-link:hover span {
        color: #0094ff;
    }

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}

.label-warning, .badge-warning {
    background: #f8ac59;
    color: #FFFFFF;
}

/**z-index说明：300x..最上层***/
.pace {
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    height: 2px;
}

    .pace .pace-progress, .pace .pace-activity {
        height: 2px;
    }

/*盒子*/
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox.collapsed .fa.fa-chevron-up:before {
        content: "\f078";
    }

    .ibox.collapsed .fa.fa-chevron-down:before {
        content: "\f077";
    }

    .ibox:after,
    .ibox:before {
        display: table;
    }

.ibox-title {
    min-height: 48px;
    background-color: #ffffff;
}

    .ibox-title .title-text {
        display: inline-block;
        margin: 14px 15px 7px 20px;
    }

.ibox-content {
    padding: 15px 20px 20px 20px;
    background-color: #ffffff;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-border {
}

    .ibox-border .ibox-title {
        border: 1px solid #e7eaec;
    }

/*form 表单*/
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none;
}

.form-control, .single-line {
    height: 34px;
    line-height: 1.42857143;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

    .form-control:focus, .single-line:focus {
        border-color: #1877c3 !important;
    }


.btn {
    border-radius: 3px;
}

.btn-primary {
    color: white !important;
    background-color: #128bed;
    border-color: #128bed;
    border-radius: 0px;
}

    .btn-primary.btn-outline:hover,
    .btn-success.btn-outline:hover,
    .btn-info.btn-outline:hover,
    .btn-warning.btn-outline:hover,
    .btn-danger.btn-outline:hover {
        background-color: #128bed;
        color: white !important;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn-primary.active:focus {
        background-color: #1877c3;
        border-color: #1877c3;
        color: #FFFFFF;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-image: none;
    }

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

    .btn-white:hover,
    .btn-white:focus,
    .btn-white:active,
    .btn-white.active,
    .open .dropdown-toggle.btn-white,
    .btn-white:active:focus,
    .btn-white:active:hover,
    .btn-white.active:hover,
    .btn-white.active:focus {
        color: inherit;
        border: 1px solid #d2d2d2;
    }

    .btn-white:active,
    .btn-white.active {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
    }

    .btn-white:active,
    .btn-white.active,
    .open .dropdown-toggle.btn-white {
        background-image: none;
    }

        .btn-white.disabled,
        .btn-white.disabled:hover,
        .btn-white.disabled:focus,
        .btn-white.disabled:active,
        .btn-white.disabled.active,
        .btn-white[disabled],
        .btn-white[disabled]:hover,
        .btn-white[disabled]:focus,
        .btn-white[disabled]:active,
        .btn-white.active[disabled],
        fieldset[disabled] .btn-white,
        fieldset[disabled] .btn-white:hover,
        fieldset[disabled] .btn-white:focus,
        fieldset[disabled] .btn-white:active,
        fieldset[disabled] .btn-white.active {
            color: #cacaca;
        }

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-sm .iconfont {
    font-size: 12px;
}

/*表单验证*/
.form-validator {
}

    .form-validator .form-group {
        min-height: 80px;
        margin-bottom: 3px;
    }

        .form-validator .form-group .text-multi {
            min-height: 230px;
        }

        .form-validator .form-group .text-multi-t {
            min-height: 160px;
        }


/*list table */
.list-table {
    width: 100%;
}

    .list-table > thead > tr > th, .list-table > tbody > tr > th, .list-table > tfoot > tr > th, .list-table > thead > tr > td, .list-table > tbody > tr > td, .list-table > tfoot > tr > td {
        vertical-align: middle;
    }

    .list-table > thead > tr > th {
        font-size: 128%;
    }

    .list-table .chk-box {
        width: 60px;
    }

    .list-table .action {
        width: 120px;
    }

    .list-table a.btn {
        margin-bottom: 0px;
    }

    .list-table th, .list-table td {
        text-align: center;
        line-height: 24px;
    }

        .list-table .t-l, .list-table th.t-l, .list-table td.t-l {
            text-align: left;
        }

        .list-table .t-r, .list-table th.t-r, .list-table td.t-r {
            text-align: right;
        }

    .list-table .t-w80 {
        width: 80px;
        text-align: center;
    }

    .list-table .t-w120 {
        width: 120px;
        text-align: center;
    }

    .list-table .t-w160 {
        width: 160px;
        text-align: center;
    }

    .list-table .t-text {
        width: 200px;
    }

    .list-table .t-text-l {
        width: 200px;
        text-align: left;
    }

.list-table-title {
    display: inline-block;
    width: 100%;
    background: #f1f1f1;
    height: 35px;
    line-height: 35px;
}

    .list-table-title span {
        padding: 0px 8px;
        font-size: 16px;
    }

        .list-table-title span .iconfont {
            font-size: 18px;
        }

    .list-table-title a.more {
        display: inline-block;
        float: right;
        padding-right: 20px;
    }

.list-table-more {
    display: inline-block;
    width: 100%;
    background: #f1f1f1;
    line-height: 35px;
    text-align: right;
}

    .list-table-more a {
        padding: 0px 15px;
    }

.list-search-group-line-item {
    position: relative;
    width: 1%;
    padding: 0px 5px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

/**member**/
.member-account-contianer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../images/member/member-account-bg.png) no-repeat top center #00c8e7;
}

.member-account-box {
    position: absolute;
    width: 70%;
    top: 120px;
    left: 50%;
    margin-left: -40%;
}

.member-account-banner {
    width: 100%;
    height: 100%;
    min-height: 643px;
    background: url(../images/member/loginbanner.png) no-repeat center center;
}

.member-account-nav {
    max-width: 385px;
    margin: 0px auto;
    background: #ffffff;
    padding-bottom: 15px;
}

    .member-account-nav a {
        display: block;
        line-height: 48px;
        background: #E6E6E6;
        text-align: center;
        font-size: 16px;
    }

        .member-account-nav a.active {
            background: #fff;
        }

.member-account-form {
    max-width: 385px;
    margin: 0px auto;
    padding: 15px 30px;
    background: #ffffff;
}

    .member-account-form form {
    }

    .member-account-form .form-group {
        position: relative;
        min-height: 55px;
        margin-bottom: 3px;
    }

    .member-account-form .form-group-line {
        min-height: 0px;
        height: auto;
        margin-bottom: 25px;
    }

    .member-account-form .input-ico .ico-tag {
        left: 0px;
        top: 2px;
        z-index: 3005;
    }

    .member-account-form .input-ico i.glyphicon {
        height: 35px;
        width: 35px;
        line-height: 35px;
    }

    .member-account-form .input-ico small {
        font-size: 92%;
    }

    .member-account-form .input-ico input[type='text'],
    .member-account-form .input-ico input[type='password'] {
        padding-left: 35px;
    }

    .member-account-form button {
        font-weight: bold;
        font-size: 15px;
    }

/*regist*/
.member-regist {
}

    .member-regist .verify-code input.form-control {
        border: 1px solid #ccc;
    }

    .member-regist .verify-code .input-group-addon {
        background: #fff;
    }

        .member-regist .verify-code .input-group-addon a {
            color: #3c4144;
        }

/*login*/
.member-login {
}

.member-container {
    position: relative;
    /*min-height: 100%;*/
    height: auto;
}

    .member-container .member-container-body {
        position: relative;
        /*padding-bottom: 160px;*/
    }

/**header**/
/*#F05E68*/
.header-bg {
    height: 100px;
    background: #7e88a7;
}

.header {
    height: 70px;
}

    .header .logo {
        padding: 3px 0px 3px 0px;
        display: inline-block;
    }

        .header .logo i {
            font-size: 50px;
            font-weight: 600;
            color: #fff;
        }

    .header .member-title {
        display: inline-block;
        height: 60px;
        margin: 20px 0px 0px 5px;
    }

        .header .member-title .member-ico {
            color: #ffffff;
            font-size: 42px;
        }

        .header .member-title span {
            color: #ffffff;
            font-size: 20px;
        }

    .header .member-detail {
        margin-top: 20px;
        margin-right: 15px;
    }

        .header .member-detail span, .header .member-detail a {
            color: #fff;
        }

        .header .member-detail .member-detail-text {
            line-height: 36px;
        }

            .header .member-detail .member-detail-text a {
                padding: 0px 15px;
                border-left: 1px solid #e7eaec;
            }

/**footer**/
.footer {
    /*position: absolute;
    bottom: 0px;
    left: 0px;*/
    width: 100%;
    height: 160px;
    z-index: 3001;
    background: #2F3447;
    overflow: hidden;
}

    .footer .item {
        padding: 20px 15px 15px 15px;
    }

        .footer .item span b {
            font-weight: bold;
            color: #7e88a7;
            font-size: 14px;
        }

    .footer .item-tel {
        padding-top: 50px;
    }

        .footer .item-tel b {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }

    .footer .item-nav {
        text-align: center;
    }

        .footer .item-nav a {
            color: #7e88a7;
            font-size: 14px;
            padding: 0px 20px;
            border-right: 1px solid #7e88a7;
        }

            .footer .item-nav a.link-last {
                border-right: none;
            }

    .footer .copy {
        padding: 15px;
        border-top: 1px solid #3e4458;
        color: #7e88a7;
        text-align: center;
    }

        .footer .copy a {
        }
/*member-menu*/
.member-menu {
    margin-top: 25px;
    margin-bottom: 25px;
}

    .member-menu .ibox {
        min-height: 300px;
        margin-left: -15px;
    }

    .member-menu p, .member-menu ul li {
        padding: 10px;
        border-bottom: 1px solid #e7eaec;
    }

    .member-menu p {
        font-size: 16px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    .member-menu a .iconfont {
        margin-right: 5px;
    }

    .member-menu ul {
    }

        .member-menu ul li a {
            display: block;
        }

    .member-menu .back-home {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #e7eaec;
    }


/*member-contianer*/
.member-contianer {
    margin-top: 25px;
    margin-bottom: 25px;
}

    .member-contianer .ibox {
        min-height: 400px;
    }

    .member-contianer .member-contianer-title {
        display: block;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid #e7eaec;
    }

    .member-contianer .member-form {
    }

        .member-contianer .member-form .member-form-out-link {
            text-align: left;
        }

/*member-list*/
.member-list-table {
}

    .member-list-table td {
        padding-left: 5px;
        padding-right: 5px;
        line-height: 38px;
        font-size: 14px;
    }

    .member-list-table tr:nth-child(2n) td {
        background: #f1f1f1;
        border: 1px solid #eee;
        border-left: none;
        border-right: none;
    }

    .member-list-table td a {
        color: #18a689;
    }

/*member*/
.member-money-max {
    font-size: 30px;
    font-weight: bold;
    color: #5e5e5e;
}

.member-money {
    font-size: 15px;
    font-weight: bold;
    color: #5e5e5e;
}

.member-money-image {
    height: 30px;
    width: 50px;
}

.member-home-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3003;
    width: 76px;
    height: 67px;
    background: url(../images/member/member-home-tag.png) no-repeat top left;
    background-size: 50% 50%;
}

.member-title {
    font-size: 14px;
}
/** statistics **/
.member-statistics {
    margin-top: 25px;
}

    .member-statistics .descript {
        text-align: center;
    }

        .member-statistics .descript .title {
            font-size: 14px;
            margin-left: 20%;
            margin-right: 10%;
            padding: 10px 0px;
            border-bottom: 1px solid #e7eaec;
            font-size: 14px;
        }

    .member-statistics .descript-first {
        padding-top: 15px;
        border-right: 1px solid #e7eaec;
        font-weight: bold;
    }

        .member-statistics .descript-first p {
            font-size: 14px;
        }


/** member-navigate **/
.member-navigate {
    margin-bottom: 0px;
}

    .member-navigate .member-navigate-list {
        position: relative;
        width: 100%;
        text-align: center;
        border: 1px solid #e7eaec;
        border-radius: 3px;
    }

        .member-navigate .member-navigate-list a {
            display: inline-block;
            padding: 15px 3px;
            font-size: 16px;
            font-weight: bold;
            color: #414141;
        }

        .member-navigate .member-navigate-list .iconfont {
            font-size: 36px;
            margin-right: 15px;
        }

    .member-navigate .ico1 {
        color: #f69301;
    }

    .member-navigate a:hover .ico1 {
        color: #df8604;
    }

    .member-navigate .ico2 {
        color: #ef415a;
    }

    .member-navigate a:hover .ico2 {
        color: #de324b;
    }

    .member-navigate .ico3 {
        color: #4258d0;
    }

    .member-navigate a:hover .ico3 {
        color: #354aba;
    }

    .member-navigate .ico4 {
        color: #7ca024;
    }

    .member-navigate a:hover .ico4 {
        color: #739422;
    }

/** member-payment **/
.member-payment {
}

    .member-payment .pay-tag {
        width: 75px;
        height: 35px;
        max-width: 100%;
        padding: 5px;
        border: 1px solid #f1f1f1;
    }

    .member-payment .item {
        margin-left: 0px;
        padding-left: 0PX;
    }

    .member-payment .descript {
        margin-top: 30PX;
        padding: 15px;
        border-top: 1px solid #f1f1f1;
    }

.recharge-tip {
    display: none;
}

p.recharge-tip-line {
    padding: 15px 0px 30px 0px;
    text-align: center;
}

    p.recharge-tip-line a.btn {
        margin: 0px 15px;
    }

/** member-security **/
.member-security-detail, .member-security-list {
    padding: 15px;
    margin-bottom: 15px;
}

    .member-security-detail strong, .member-security-detail span {
        padding-right: 10px;
    }

.member-security-progress {
    display: inline-block;
    width: 200px;
    margin-right: 15px;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    height: 12px;
}

    .member-security-progress i {
        display: block;
        width: 1%;
        padding: 0px;
        margin: 0px;
        background: #ffbec2;
        height: 100%;
        border-radius: 2px;
    }

.member-security-list .item {
    padding: 15px;
    text-align: center;
    border-right: 1px solid #ffbec2;
}

    .member-security-list .item i, .member-security-list .item p, .member-security-list .item a {
        display: inline-block;
    }

    .member-security-list .item i {
        width: 115px;
        height: 115px;
        display: block;
        margin: 15px auto;
        font-size: 80px;
        color: #f58990;
        border: 1px solid #ffbec2;
        border-radius: 50%;
    }

.member-security-list .item-last {
    border-right: none;
}
