.pagination {
            font-size: 80%; float:right;
        }
        


.pagination a, .pagination span {


    background-color: #fff;
    border: 1px solid #21965b;
    border-radius: 3px;
    color: #21965b;
    float: left;
    line-height: 1.42857; height:27px;
    margin: 0 2px;
    padding: 5px 10px; font-size:12px;
    position: relative;cursor:pointer;
    text-decoration: none;

}
.pagination span.current ,.pagination a:hover{
    z-index: 2;
        color: #fff; 
        cursor: default;
        background-color: #21965b;
        border-color: #21965b;
}
.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
